/* Style updates / overrides */

.rygb-string-input input {
  padding: 0.35em 0.55em 0.40em;
}

.menu.portrait {
    /* flex: 0 1 20px; */
    /* order: 1; */
    padding: 49px;
    width: 100vmin;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin-left: calc((0px - (100vmin - 100%)) / 2);
}

.menu.landscape {
    padding: 31px;
    width: 286px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}

.controls.portrait .tempest {
    height: 70.71067811865476vmin;
    max-height: 50.0vmax;
    margin: 4vmax 0;
    order: 2;
}

.controls.portrait .sv-controls-wrap .sv-controls .track .ball-control .label {
    top: -33px;
    right: -88%;
}


.controls.portrait .color {
    justify-content: center;
    order: 0;
    flex: 0 1 18vmax;
}


.controls.portrait .tempest {
    height: 70.71067811865476vmin;
    max-height: 50.0vmax;
    margin: 77px 0 66px;
    order: 2;
}


/*for about:*/

/*add ~ RYGB ~ header p*/

/*put this in wrapper div by paragraphs*/
.info .close-wrap {
    /* position: fixed; */
    /* top: 0; */
    /* right: 0; */
    translate: -53px 53px;
    @media (max-height: 900px) {
        translate: unset;
    }
    
}

.info .content {
    postion: relative;
    max-width: 625px;
    height: 100%;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    line-height: 1.5em;
    width: 100%;
    right: 0;
    top: 0;
    justify-content: center;
    font-family: Gentium Basic, serif;
    height: 100%;
    padding: 50px;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    font-weight: 400;
    font-size: 2.0rem;
    display: flex;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6900000000000001);
    color: white;
    left: 0;
    align-items: center;
    .copyright {
        display: none;
    }
}

.menu.portrait {
    padding: 0 31px 31px;
    width: fit-content;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 130px;
    .title {
        margin: 0;
        order: 1;
    }
    .about {
        order: 2;
    }
    .source {
        order: 3;
    }
    
}

/*@ < 800px vertical about 600px hrz*/



@media (max-width: 600px) and (max-height: 800px) {
    .info .content {
        max-width: 475px;
    }

    .info {
        font-size: 1.66rem;
    }
}

@media (max-height: 900px) {
    .info {
        font-size: 1.66rem;
    }
}


@media (max-width: 450px) {
  .info {
      font-size: 1rem;
  }
}

@media (min-height: 1500px) {
  .ux {
    font-size: 2.0rem;
  }
}

.ux {
  font-family: 'Plex Mono', 'Jetbrains Mono', monospace;
}
